html{scroll-behavior: smooth;}
 body{ padding: 20px;}
.contener{
    
   /* background-image:url(image/immoble.jpg);*/
    width: 100%;
    height: 582px;
    border-radius: 5px;
    margin-top: -50px;
    
}
 
.menu{
    width: 100%;
     position: fixed;
  background-color: #fff;
  margin-top: 11px;
}
 

#logoo{
    border-radius: 100px;
  width: 190px;
  height: 190px;
    margin-left: 550px;
    margin-top: 108px;
   
}
h2{
    
    font-size: 30px;
    text-align: center;
    font-family: cursive ;
    
}
span{ 
    color: rgb(31, 2, 247);
}
P{
    text-align: center;
    margin-top: 82px;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}
h4{
    /*transform: rotate(30deg) ;*/
    font-size: 30px;
    margin-left:1020px;
    margin-top: -165px;
     text-align: center;
     color: #fd0505;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h5{
    /*transform: rotate(20deg) ;*/
    font-size: 30px;
    margin-top: 280px;
    text-align: center;
    margin-right: 950px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -80px;
     color: #fd0505
}
h6{
        /*transform: rotate(20deg) ;*/
    font-size: 30px;
    margin-top: 97px;
    text-align: center;
    color:blue ;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.about{
   
    width: 100%;
    font-size: 25px;
    font-family: cursive ;
    margin-top: 100px;
    text-align: justify;
}
.image{
    margin-top: 30px;
}
#ima{
    color: #fd0505;
    font-size: 50px;
    font-family: cursive ;

}
.watch{
    color: #fd0505;
    font-size: 50px;
    font-family: cursive ;

}
picture{
    width: 100%;
}
img{      margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 15px;
    width: 200px;
    
}
#imag2{
    width: 300px;
    height: 300px;
    border-radius:8px ;
}
#imag2:hover{
    
    transform: scale(1.1);
}
.cantat{
    width: 100%;
    border: 1 solid red ;
    margin-top: 100px;
    font-family: cursive;
    
}
#lina{
    width:100px;
    height:100px ;
    margin-left: 150px;
    margin-top: 70px;
}
 iframe{
    border-radius: 9px;
margin-left: 50px;
margin-top: 20px; }
.cc{
 padding: 70px; 
 margin-top: -33px;
 background-color: #fff;
  position: fixed;
  width: 100%;
}
#copy{
    width: 50px;
    height: 50px;
    margin-left: 500px;
}
#said{

    margin-left: 550px;
   margin-top: -96px;
}
.copyr{
    height: 100px;
}
 
 @media screen and (max-width: 800px){
    /* Global styles */
    .all{overflow: hidden;}
        ul li {
            list-style: none;
            
    
    
        }
    
        ul {
            display:none;
            list-style: none;
            
    
    
        }
    
        ul li a {
            
            text-decoration: none;
            font-family: 'Courier New', Courier, monospace;
            font-size: 30px;
        }
    
        li a:hover {
            color: brown;
            background-color: rgb(223, 223, 234);
            border-radius: 10px;
    
    
        }
    
        #logo {
            width: 50px;
            height: 50px;
           
            border-radius: 50px;
        
        }
    
        h1 {
            margin-top: -70px;
        }
        #logoo {
            display: none;
            border-radius: 100px;
            width: 190px;
            height: 190px;
            margin-left: 50px;
            margin-top: 324px;
          }
          .cc{
            margin-top: -59px;
          }
          .contener{
            margin-top: 130px;

            width: 100%;
            height: 582px;
            border-radius: 5px;
           
          }
          h5{
            display: none;
          }
          h6{
            margin-top: -75px;
          }
          .about {
            width: 100%;
            font-size: 25px;
            font-family: cursive;
            margin-top: -112px; 
        
    }
    img{
        margin-left: 43px;
    }
    iframe{
        width: 81%;
        margin-left: 40px;
    }
    #lina{
    width: 50%;
        margin-left:100px;
        margin-top:0px;
    }
    #copy{
        width: 50px;
        height: 50px;
    }
    #said{
    
        margin-left: 100px;
       margin-top: -56px;
    }
    .copyr{
        height: 100px;
    }
    }
 

